@using PagedList.Mvc;
@using DoAnWebFilm.Models
@model PagedList.PagedList<Phim>
@{
    ViewBag.Title = "MovieForReleaseYear";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section>
    <div class="container-md">
        <div class="row gx-2">
            <div class="col-12 col-lg-9 pt-1">
                <h5 class="text-warning">PHIM THEO QUỐC GIA</h5>
                <div class="row row-cols-2 row-cols-sm-3 row-cols-md-3 row-cols-lg-4 gy-3 gx-2 g-gl-0 pb-3 ">

                    @foreach (var phim in Model)
                    {

                        <div class="col">

                            <a href="@Url.Action("Details","Home", new { id= phim.id_phim} )" style="text-decoration:none">

                                <div class="card bg-dark text-white">
                                    <img src="~/HinhPhim/@phim.anh_bia" class="card-img" alt="...">
                                    <div class="card-img-overlay">
                                        <p class="card-title d-inline px-1 rounded bg-danger">Full HD</p>

                                    </div>
                                    <div class="card-header">
                                        <p>@phim.ten_phim</p>
                                    </div>
                                </div>
                            </a>


                        </div>
                    }

                </div>



                @Html.PagedListPager(Model, page => Url.Action("MovieForReleaseYear", new { page = page }))
            </div>



            <div class="col-12 col-lg-3 d-none d-lg-block ">
                <div class=" p-1   ">
                    <h5 class="text-warning">PHIM MỚI</h5>
                    <div class="bg-dark p-2 rounded">

                        @Html.Action("TopMovie", "Home")

                    </div>
                </div>


            </div>
        </div>
        <div>


        </div>
    </div>
</section>

