@model DoAnWebFilm.Models.DienVien

@{
    ViewBag.Title = "Details";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>DienVien</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
          Tên Diễn Viên
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ten_dien_vien)
        </dd>

        <dt>
         Ảnh bìa
        </dt>

        <dd>
            <img class="img-thumbnail" src="@Url.Content("~/HinhDienVien/"+ Model.anh_bia)"  />
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_dien_vien }) |
    @Html.ActionLink("Back to List", "Index")
</p>
